# Exclude everything under project directory
# But still allow git to process contents
/*

# Exclude folder meta-information
.DS_Store

# Unexclude package code base
!/pypalex/

# Exclude the project cache
/pypalex/__pycache__/

# Unexclude project assets
!/Assets/

# Unexclude other necessary files
!/setup.py
!/LICENSE
!/README.md
!/CHANGELOG.md
!/MANIFEST.in
!/pypalex_code_documentation.pdf
